# Entornos virtuales
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno y secrets
.env
.env.*
*.env
!.env.example


# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# SQLite test databases
test_db.sqlite
*.sqlite
